* {
  font-size: 10px;
}

.container {
  max-width: 500px;
}

body {
  background: linear-gradient(pink, #9198e5);
  background-repeat: no-repeat;
}

img {
  display: block;
  width: 75%;
  height: 600px;
  object-fit: cover;
  margin: 2rem auto 5rem;
}

p {
  width: 50%;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 2rem auto;
}
.descktop_text {
  display: none;
}
.tablet_text {
  display: none;
}
@media only screen and (min-width: 501px) {
  .container {
    max-width: 900px;
  }
  .mobile_text {
    display: none;
  }
  .tablet_text {
    display: block;
  }

  body {
    background: linear-gradient(#090b0c, #181bda);
  }
  img {
    max-width: 900 px;
  }
}

@media only screen and (min-width: 901px) {
  .mobile_text {
    display: none;
  }
  .tablet_text {
    display: none;
  }
  .descktop_text {
    display: block;
  }
  .container {
    max-width: 1600px;
  }

  body {
    background: linear-gradient(black, red);
    background-repeat: no-repeat;
  }
  img {
    max-width: 1600px;
  }
}
